img {
  width: 50px;
}
#face {
  width: 300px;
  position: absolute;
  top: 10px;
  left: 10px;
}

#eyes2 {
  width: 150px;
  position: absolute;
  top: 130px;
  left: 80px;
}

#mouth1 {
  width: 100px;
  position:absolute;
  top: 250;
  left: 110px;
}

#nose2 {
  width: 80px;
  position:absolute;
  top: 160px;
  left: 115px;
}

#ears1 {
  width: 310px;
  position:absolute;
  top: 60px;
  left: 0px
}

#bird {
  width: 90px;
  position:absolute;
  top: 20px;
  left: 115px;
}

#moustache {
  position: absolute;
  width: 80px;
  top: 220px;
  left: 115;
}

#necklace {
  width: 100px;
  position:absolute;
  top: 310;
  left: 105;
}